Consider following code to answer further questions:

In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

### Q1. Write a code to print the data present in the second row of the dataframe, df.

In [6]:
df[1:2]

        course_name  duration
1  Machine Learning         3

### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

The difference between loc and iloc is that loc takes viewable column names and iloc takes default index of columns instead of their name.

In [11]:
df.loc[0:2,['duration']]

   duration
0         2
1         3
2         6

In [9]:
df.iloc[0:2,[1]]

   duration
0         2
1         3

### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [22]:
reindex = [3,0,1,2]
new_df = df.reindex(reindex)

In [23]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [24]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [25]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Here .loc function returned the values on shown index 2 whereas .iloc returned the values on default index 2

Consider the below code to answer further questions:

In [26]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

### Q4. Write a code to find the following statistical measurements for the above dataframe df1:
1. mean of each and every column present in the dataframe.
2. standard deviation of column, ‘column_2’

In [33]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.186908  0.158239  0.588447  0.054775  0.294273  0.190583
2  0.837935  0.319075  0.067786  0.969003  0.345168  0.111373
3  0.960612  0.331088  0.243723  0.808142  0.204830  0.996391
4  0.402878  0.365929  0.786522  0.182109  0.989108  0.639617
5  0.092905  0.110035  0.542601  0.000387  0.980087  0.029126
6  0.697961  0.894622  0.893126  0.721019  0.569231  0.962077

In [36]:
def mean(x):
    return np.mean(x)
df1.apply(mean)

column_1    0.529867
column_2    0.363165
column_3    0.520367
column_4    0.455906
column_5    0.563783
column_6    0.488195
dtype: float64

In [40]:
df1['column_2'].std()

0.3693999407928622

### Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
### If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [45]:
d = 'tabish'
df1.loc[2,['column_2']] = d

In [46]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.435011  0.654909  0.657192  0.813233  0.889434  0.172443
2  0.249328    tabish  0.178950  0.374133  0.568148  0.385684
3  0.346417  0.536475  0.189988  0.867688  0.024461  0.331473
4  0.660056  0.462354  0.997842  0.665752  0.309435  0.047446
5  0.412898  0.980581  0.871995  0.879631  0.264577  0.220088
6  0.507361    0.0102  0.610825  0.201731  0.751941  0.779885

In [47]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

We are getting  a TypeError because we cannot calculate the mean of a column containing both numeric and string data.

### Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [52]:
current_datetime = pd.to_datetime('now')

current_month = current_datetime.month
current_year = current_datetime.year

print("Current Month:", current_month)
print("Current Year:", current_year)

Current Month: 9
Current Year: 2023

/tmp/ipykernel_8545/3575998119.py:1: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  current_datetime = pd.to_datetime('now')

### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [54]:
date_str1 = input("Enter the first date (YYYY-MM-DD): ")
date_str2 = input("Enter the second date (YYYY-MM-DD): ")

try:
   
    date1 = pd.to_datetime(date_str1)
    date2 = pd.to_datetime(date_str2)

    # Calculate the time difference
    time_difference = date2 - date1

    # Extract and display the difference in days, hours, and minutes
    days_difference = time_difference.days
    hours_difference = time_difference.seconds // 3600
    minutes_difference = (time_difference.seconds % 3600) // 60

    print("Time Difference:")
    print("Days:", days_difference)
    print("Hours:", hours_difference)
    print("Minutes:", minutes_difference)

except ValueError:
    print("Invalid date format. Please use the format YYYY-MM-DD.")

Enter the first date (YYYY-MM-DD):  2023-09-02
Enter the second date (YYYY-MM-DD):  2023-09-10

Time Difference:
Days: 8
Hours: 0
Minutes: 0

### Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [62]:
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the CSV file path: ")

# Prompt the user to enter the column name to convert
column_name = input("Enter the column name to convert to categorical: ")

# Prompt the user to enter the custom category order (comma-separated)
category_order = input("Enter the category order (comma-separated): ")

# Read the CSV file into a DataFrame
try:
    df = pd.read_csv(file_path)

    # Convert the specified column to categorical with custom category order
    category_order = [cat.strip() for cat in category_order.split(',')]
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

    # Display the sorted data
    sorted_df = df.sort_values(by=column_name)
    print("Sorted Data:")
    print(sorted_df)

except FileNotFoundError:
    print("File not found. Please check the file path.")
except KeyError:
    print("Column name not found in the CSV file.")
except Exception as e:
    print("An error occurred:", str(e))

Enter the CSV file path:  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
Enter the column name to convert to categorical:  Survived
Enter the category order (comma-separated):  0,0

An error occurred: Categorical categories must be unique

### Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [63]:
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the CSV file path
file_path = input("Enter the CSV file path: ")

# Read the CSV file into a DataFrame
try:
    df = pd.read_csv(file_path)

    # Check if the DataFrame contains the necessary columns (e.g., 'Date', 'Product Category', 'Sales')
    required_columns = ['Date', 'Product Category', 'Sales']
    if not all(col in df.columns for col in required_columns):
        raise ValueError("CSV file is missing required columns.")

    # Convert the 'Date' column to datetime if it's not already
    df['Date'] = pd.to_datetime(df['Date'])

    # Pivot the DataFrame to create a suitable format for a stacked bar chart
    pivot_df = df.pivot(index='Date', columns='Product Category', values='Sales')

    # Create a stacked bar chart
    pivot_df.plot(kind='bar', stacked=True, figsize=(12, 6))
    
    # Set chart labels and title
    plt.xlabel('Date')
    plt.ylabel('Sales')
    plt.title('Stacked Bar Chart of Sales by Product Category Over Time')

    # Display the chart
    plt.show()

except FileNotFoundError:
    print("File not found. Please check the file path.")
except ValueError as ve:
    print(ve)
except Exception as e:
    print("An error occurred:", str(e))

Enter the CSV file path:  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv

CSV file is missing required columns.

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [68]:
import pandas as pd
import statistics
from tabulate import tabulate

# Prompt the user to enter the file path of the CSV file containing student data
file_path = input("Enter the file path of the CSV file containing student data: ")

try:
    # Read the CSV file into a Pandas DataFrame
    df = pd.read_csv(file_path)

    # Check if the DataFrame contains the 'Test Score' column
    if 'Test Score' not in df.columns:
        raise ValueError("CSV file is missing 'Test Score' column.")

    # Calculate the mean, median, and mode of the test scores
    mean_score = df['Test Score'].mean()
    median_score = df['Test Score'].median()
    mode_scores = statistics.multimode(df['Test Score'])

    # Format the mode values as a comma-separated string
    mode_str = ', '.join(map(str, mode_scores))

    # Create a table to display the results
    results_table = [['Statistic', 'Value'],
                    ['Mean', mean_score],
                    ['Median', median_score],
                    ['Mode', mode_str]]

    # Display the table using tabulate
    table = tabulate(results_table, headers='firstrow', tablefmt='fancy_grid')
    print(table)

except FileNotFoundError:
    print("File not found. Please check the file path.")
except ValueError as ve:
    print(ve)
except Exception as e:
    print("An error occurred:", str(e))

Enter the file path of the CSV file containing student data:  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv

CSV file is missing 'Test Score' column.